@media (max-width:412px){
    body, main, form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body{
        min-height: 100vh;
    }

    main{
        flex-grow: 1;
    }

    input{
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 80vw;
        height: 10vw;
        border-radius: 5vw;

        &:hover{
            border: 2px solid rgb(150, 235, 150);
        }
    }

    textarea{
        text-align: center;
        width: 80vw;
        height: 30vw;
        margin-bottom: 1.5vh;
        border-radius: 5vw;

        &:hover{
            border: 2px solid rgb(150, 235, 150);
        }
    }

    .Btns{
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vw;
        margin-top: 5vw;

        & button{
            width: 30vw;
            background-color: rgb(150, 235, 150);
            color: black;
            border-radius: 2vw;
            margin: 0px;
            padding-top: 1vw;
            padding-bottom: 1vw;
            border: none;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .menu{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80vw;
        background-color: rgb(150, 235, 150);
        border-radius: 5vw;
        position: sticky;
        bottom: 2vh;
        z-index: 1;

        & img{
            width: 7vw;
            height: 7vw;
            margin-top: 2vw;
            margin-bottom: 2vw;
        }

        
        & .dropdown{
            display: none;
            position: absolute;
            bottom: 12vw;
            left: 55vw;
            margin-top: 5vw;
            
            & a:hover{
                background-color: white;
            }
        }

        & .menuIcon:hover{
            & .dropdown{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgb(150, 235, 150);
                border-radius: 2vw;

                & a{
                    /* display: none; */
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                    padding: 1vw;
                    width: 20vw;
                    height: 5vw;
                    border-radius: 2vw;
                    text-align: center;

                    &:hover{
                        color: rgb(150, 235, 150);
                    }
                }
            }
        }
    }

    hr{
        width: 80vw;
        color: rgb(150, 235, 150);
        margin-bottom: 5vw;
        margin-top: 5vw;
    }
}